[submodule "benchmarks/third_party/serverless-benchmarks"]
	path = benchmarks/third_party/serverless-benchmarks
	url = https://github.com/spcl/serverless-benchmarks.git
[submodule "benchmarks/third_party/AzurePublicDataset"]
	path = benchmarks/third_party/AzurePublicDataset
	url = https://github.com/Azure/AzurePublicDataset.git
